body {
  margin: 0;
  padding: 0;
}

.button-container {
  margin-bottom: 20px;
  padding: 0;
  height: 8vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.table-container {
  overflow: auto;
  height: 86vh;
  width: 100%;
  position: absolute;
  border-radius: 10px;

}

.table-container::-webkit-scrollbar {
  display: none;
}

.table-container .table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table td {
  width: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-container th {
  position: sticky;
  top: 0px;
  background-color: #333;
  color: #fff;
}

.table tbody tr {
  height: 85px;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.table .no-data {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

button {
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.table td button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}